<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Blog</title>
    <link rel="stylesheet" href="/styles/home.css" />
</head>
<body>
    <form>
        <h1>Create a new post</h1>
        <label for="myInput">Name: </label>
        <input type="text" id="myInput" name="myInput" placeholder="Type here..." required>
        <label for="myInput">Title: </label>
        <input type="text" id="myInput" name="myInput" placeholder="Type here..." required>
        <form>
        <label for="myInput">Content:</label>
        <input type="text" id="myInput" name="myInput" placeholder="Type here..." required>
        <input type="submit">
        </form>
        
</body>
</html>